In [1]:
import networkx as nx
import numpy as np
import pandas as pd
from torch_geometric.loader import DataLoader

import graph_learning
import utils

In [2]:
df_syn = utils.load_synergyage()
df_syn.head(1)

,Unnamed: 0,Pubmed ID,Temperature,Diet,Details,Wild type lifespan (days),Gene 1,Intervention on gene 1,Gene 1 single mutant lifespan (days),"Gene(s) 2(,3)",...,"Double (triple) mutant (genes 1,2,(3)) lifespan (days)",Phenotype description,Organism,genes,genes_str,num_genes,FC,LOGFC,PERCENT_CHANGE,LIFESPAN_CLASS
0,0,19461873,25,OP50,�Late L4 larvae growing at 20�C were transferr...,13.6,hif-1,RNAi,16.1,daf-16,...,12.4,Lifespan extension by�hif-1�did not require DA...,6239,"('daf-16', 'hif-1')",daf-16;hif-1,2,0.911765,-0.133267,-0.088235,NS

In [3]:
df_biogrid = utils.load_biogrid()
df_biogrid.head(1)

,#BioGRID Interaction ID,Entrez Gene Interactor A,Entrez Gene Interactor B,BioGRID ID Interactor A,BioGRID ID Interactor B,Systematic Name Interactor A,Systematic Name Interactor B,Official Symbol Interactor A,Official Symbol Interactor B,Synonyms Interactor A,...,TREMBL Accessions Interactor B,REFSEQ Accessions Interactor B,Ontology Term IDs,Ontology Term Names,Ontology Term Categories,Ontology Term Qualifier IDs,Ontology Term Qualifier Names,Ontology Term Types,Organism Name Interactor A,Organism Name Interactor B
0,63578,177286,179791,42412,44810,CELE_AC7.2,CELE_W07G4.5,soc-2,W07G4.5,-,...,Q1HB02,NP_506261,-,-,-,-,-,-,Caenorhabditis elegans,Caenorhabditis elegans

In [4]:
df_syn = utils.get_synergyage_subset_with_biogrid_gene_names()
graph_list, target_list = utils.build_graph_and_target_lists(df_syn.iloc[:10], df_biogrid)
data_list = utils.build_datalist(graph_list, target_list)

In [7]:
NUM_EPOCHS = 30
BATCH_SIZE = 16

loader: DataLoader = graph_learning.loader_from_datalist(data_list, batch_size=BATCH_SIZE)

In [8]:
model = graph_learning.create_GNN_model(1, 10, 3)
graph_learning.train_graph_classification(model, loader, loader, num_epochs = NUM_EPOCHS)

[Epoch 1/30] Loss: 1.0929 | Train: 0.22 0.22 0.22 | Test: 0.22 0.22 0.22
[Epoch 2/30] Loss: 1.0907 | Train: 0.22 0.22 0.22 | Test: 0.22 0.22 0.22
[Epoch 3/30] Loss: 1.0886 | Train: 0.22 0.22 0.22 | Test: 0.22 0.22 0.22
[Epoch 4/30] Loss: 1.0863 | Train: 0.22 0.22 0.22 | Test: 0.22 0.22 0.22
[Epoch 5/30] Loss: 1.0840 | Train: 0.22 0.22 0.22 | Test: 0.22 0.22 0.22
[Epoch 6/30] Loss: 1.0815 | Train: 0.22 0.22 0.22 | Test: 0.22 0.22 0.22
[Epoch 7/30] Loss: 1.0788 | Train: 0.22 0.22 0.22 | Test: 0.22 0.22 0.22
[Epoch 8/30] Loss: 1.0760 | Train: 0.22 0.22 0.22 | Test: 0.22 0.22 0.22
[Epoch 9/30] Loss: 1.0730 | Train: 0.22 0.22 0.22 | Test: 0.22 0.22 0.22
[Epoch 10/30] Loss: 1.0699 | Train: 0.67 0.67 0.67 | Test: 0.67 0.67 0.67
[Epoch 11/30] Loss: 1.0666 | Train: 0.67 0.67 0.67 | Test: 0.67 0.67 0.67
[Epoch 12/30] Loss: 1.0632 | Train: 0.67 0.67 0.67 | Test: 0.67 0.67 0.67
[Epoch 13/30] Loss: 1.0595 | Train: 0.67 0.67 0.67 | Test: 0.67 0.67 0.67
[Epoch 14/30] Loss: 1.0557 | Train: 0.67 0.67 0.67 | Test: 0.67 0.67 0.67
[Epoch 15/30] Loss: 1.0518 | Train: 0.67 0.67 0.67 | Test: 0.67 0.67 0.67
[Epoch 16/30] Loss: 1.0476 | Train: 0.67 0.67 0.67 | Test: 0.67 0.67 0.67
[Epoch 17/30] Loss: 1.0433 | Train: 0.67 0.67 0.67 | Test: 0.67 0.67 0.67
[Epoch 18/30] Loss: 1.0388 | Train: 0.67 0.67 0.67 | Test: 0.67 0.67 0.67
[Epoch 19/30] Loss: 1.0341 | Train: 0.67 0.67 0.67 | Test: 0.67 0.67 0.67
[Epoch 20/30] Loss: 1.0293 | Train: 0.67 0.67 0.67 | Test: 0.67 0.67 0.67
[Epoch 21/30] Loss: 1.0243 | Train: 0.67 0.67 0.67 | Test: 0.67 0.67 0.67
[Epoch 22/30] Loss: 1.0191 | Train: 0.67 0.67 0.67 | Test: 0.67 0.67 0.67
[Epoch 23/30] Loss: 1.0138 | Train: 0.67 0.67 0.67 | Test: 0.67 0.67 0.67
[Epoch 24/30] Loss: 1.0084 | Train: 0.67 0.67 0.67 | Test: 0.67 0.67 0.67
[Epoch 25/30] Loss: 1.0029 | Train: 0.67 0.67 0.67 | Test: 0.67 0.67 0.67
[Epoch 26/30] Loss: 0.9972 | Train: 0.67 0.67 0.67 | Test: 0.67 0.67 0.67
[Epoch 27/30] Loss: 0.9915 | Train: 0.67 0.67 0.67 | Test: 0.67 0.67 0.67
[Epoch 28/30] Loss: 0.9858 | Train: 0.67 0.67 0.67 | Test: 0.67 0.67 0.67
[Epoch 29/30] Loss: 0.9800 | Train: 0.67 0.67 0.67 | Test: 0.67 0.67 0.67
[Epoch 30/30] Loss: 0.9743 | Train: 0.67 0.67 0.67 | Test: 0.67 0.67 0.67